# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.html

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
.terraformrc
examples/provider/.terraformrc
.terraformrc.docs
providers-schema.json
package-lock.json

# IDE
.idea/
.vscode/
*.swp

# Build
dist/
bin/
